div#memory_board {
    background: #CCC;
    border: #999 1px solid;
    width: 400px;
    height: 400px;
    padding: 0px;
    margin: 0px auto;
}

div#memory_board>div {
    background: url(tile_bg.jpg) no-repeat;
    border: #000 2px solid;
    width: 96px;
    height: 96px;
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
}

#later {
    display: none;
}

#win {
    display: none;
}

#lb {
    display: none;
}

.centering {
    text-align: center;
}
