/*
    Created by Kenny Nguyen, Keon Hee Park, and Mona Shittul
    Project 2: Game of Fifteen
    style.css
	Course: CSC 4370 - Web Programming
	Instructor: Louis Henry
	Date: November 7, 2016
*/

html,
body,
#body_container {
    width: 100%;
    height: 100%;
}

div#memory_board {
    width: 400px;
    height: 400px;
    padding: 0px;
    margin: 0px auto;
}

.tile {
    border: black 2px solid;
    width: 96px;
    height: 96px;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 96px;
}

#picOptions {
    width: 200px;
    height: 20px;
    margin: 0 auto;
}

.floatL {
    float: left;
}

.hide {
    display: none;
}

.even {
    background-color: #96A9C9;
}

.odd {
    background-color: #FFFFFF;
}

table,
th,
td {
    border: 1px solid black;
}

#cs_logo {
    width: 99%;
    height: 15%;
}

.movablepiece:hover {
    border: red 2px solid;
    color: #006600;
}

#objective {
    font-weight: normal;
}

h1,
h2,
.centering {
    text-align: center;
}

.moreButtons {
    padding: 0px;
    width: 200px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#bottom-right-div {
    position: relative;
}

#bottom-right-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
